<div class="col s12 m7">
  <% @posts.each do |post| %>
    <div class="card horizontal">

        <div class="card-image">
          <img src="">
        </div>
        <div class="card-stacked">
          <div class="card-content">
          <span class=class="name">投稿者：<%= post.user.nickname %></span>
          <br>投稿時間:<span data-livestamp="<%=post.created_at%>"></span>
            <%= simple_format(post.text) %>
            <% if user_signed_in? && current_user.id == post.user_id %>
            <ul>
              <li><%= link_to '削除', "/posts/#{post.id}", method: :delete %></li>
              <li><%= link_to '編集', "/posts/#{post.id}/edit", method: :get %></li>
            </ul>
            <% end %>
          </div>
        </div>
    </div>
    <!-- <img src="background-image: url(<%= post.image %>);"> -->
    <% end %>
   <%= paginate(@posts) %>
</div>

